{% extends 'main/layout.html' %}
{% load static %}

{% block title %} О профессии Backend-программиста {% endblock %}

{% block content %}
<style>
    .content-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.image-right {
    width: 40%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
}
.large-text {
    font-size: 1.5rem;
    line-height: 1.5;
}
</style>
<div class="graph-container">
    <div class="graph-block">
        <h1 style="color: crimson">Кто такие Backend-разработчики?</h1>
        <div class="content-wrapper">
            <p class="large-text">В мире технологий мы часто видим яркие интерфейсы, эффектные сайты и удобные мобильные приложения, но мало кто задумывается о том, что скрывается за их безупречной работой. Именно Backend-разработчики создают фундамент, на котором строится всё. Они — невидимые герои, отвечающие за стабильность, безопасность и функциональность программного обеспечения.</p>
            <img src="{% static 'main/img/1.png' %}" alt="География" class="image-right" onclick="openFullscreen(this)" />
        </div>
    </div>
    <div class="graph-block">
        <h1 style="color: crimson">Специалисты цифровых систем</h1>
        <div class="content-wrapper">
            <p class="large-text">Backend-разработчики — это мозг и сердце любой цифровой системы. Они работают с серверами, базами данных и бизнес-логикой, обеспечивая обработку запросов и корректную работу приложения. Эти специалисты пишут код, который принимает ваши заказы в интернет-магазине, обрабатывает ваши транзакции в банке и доставляет нужные данные из облака.
Если фронтенд отвечает за внешний вид и удобство, то бэкенд гарантирует, что всё это работает быстро, надёжно и безопасно.
</p>
            <img src="{% static 'main/img/2.png' %}" alt="География" class="image-right" onclick="openFullscreen(this)" />
        </div>
    </div>
    <div class="graph-block">
        <h1 style="color: crimson">Технологии и инструменты</h1>
        <div class="content-wrapper">
            <p class="large-text">Backend-разработка требует глубоких знаний в области программирования, системного администрирования и архитектуры приложений. Разработчики владеют множеством языков, таких как Python, Java, Ruby, PHP, Go или Node.js. Они знают, как работать с различными базами данных — реляционными (например, MySQL, PostgreSQL) и нереляционными (например, MongoDB, Redis).
Кроме того, разработчики разбираются в системах управления версиями, CI/CD-пайплайнах и облачных сервисах, таких как AWS, Google Cloud или Azure. Их задача — выбрать оптимальные инструменты и интегрировать их в проект.

</p>
            <img src="{% static 'main/img/3.png' %}" alt="География" class="image-right" onclick="openFullscreen(this)" />
        </div>
    </div>
        <div class="graph-block">
        <h1 style="color: crimson">Архитекторы решений: Разработка и масштабирование</h1>
        <div class="content-wrapper">
            <p class="large-text">Backend-разработчики — это стратеги, которые проектируют архитектуру систем с учётом не только текущих потребностей, но и будущего роста. Они создают микросервисные архитектуры, распределённые системы и API, которые позволяют приложениям взаимодействовать друг с другом.
Важной частью их работы является масштабирование. Когда количество пользователей растёт, системы должны оставаться стабильными и быстрыми. Бэкенд-разработчики создают кластеры серверов, оптимизируют запросы к базам данных и настраивают кэширование, чтобы приложение выдерживало высокие нагрузки.
</p>
            <img src="{% static 'main/img/4.png' %}" alt="География" class="image-right" onclick="openFullscreen(this)" />
        </div>
    </div>
        <div class="graph-block">
        <h1 style="color: crimson">Осторожность с безопасностью</h1>
        <div class="content-wrapper">
            <p class="large-text">Одной из ключевых задач Backend-разработчика является обеспечение безопасности. Они защищают данные пользователей от взломов, предотвращают SQL-инъекции, настраивают шифрование данных и разрабатывают механизмы аутентификации и авторизации.
Каждый запрос, отправленный пользователем, проходит через цепочку проверок, чтобы исключить потенциальные угрозы. Бэкендщики следят за соблюдением современных стандартов и протоколов безопасности, таких как HTTPS, OAuth или JWT.
</p>
            <img src="{% static 'main/img/5.png' %}" alt="География" class="image-right" onclick="openFullscreen(this)" />
        </div>
    </div>
        <div class="graph-block">
        <h1 style="color: crimson">Тонкость командной работы</h1>
        <div class="content-wrapper">
            <p class="large-text">Несмотря на технический уклон, Backend-разработчики работают не в одиночку. Они взаимодействуют с фронтенд-разработчиками, тестировщиками, продакт-менеджерами и DevOps-инженерами. Умение объяснять сложные вещи простыми словами и находить компромиссы в спорах делает этих специалистов незаменимыми в команде.
Их работа — это баланс между индивидуальной экспертизой и коллективным вкладом в проект. Без бэкенда невозможна полноценная синергия всех отделов разработки.
</p>
            <img src="{% static 'main/img/6.png' %}" alt="География" class="image-right" onclick="openFullscreen(this)" />
        </div>
    </div>
        <div class="graph-block">
        <h1 style="color: crimson">Постоянное обучение и рост</h1>
        <div class="content-wrapper">
            <p class="large-text">Мир технологий меняется с невероятной скоростью, и Backend-разработчики всегда остаются на передовой этих изменений. Они изучают новые фреймворки, осваивают современные подходы, такие как DevSecOps или Serverless, и следят за развитием языков программирования.
Гибкость и стремление к обучению позволяют им находить лучшие решения для самых сложных задач. Это делает их не просто специалистами, но настоящими мастерами своего дела.
</p>
            <img src="{% static 'main/img/7.png' %}" alt="География" class="image-right" onclick="openFullscreen(this)" />
        </div>
    </div>
        <div class="graph-block">
        <h1 style="color: crimson">Заключение</h1>
        <div class="content-wrapper">
            <p class="large-text">Backend-разработчики — это тихие герои, чьё мастерство обеспечивает стабильную работу миллиардов приложений по всему миру. Их вклад часто остаётся за кадром, но именно они создают магию, которая делает нашу жизнь проще и удобнее.
Каждая строка их кода — это кирпичик в огромном здании цифрового мира, который мы видим каждый день. Именно поэтому Backend-разработчиков можно с уверенностью назвать архитекторами будущего.
</p>
            <img src="{% static 'main/img/8.png' %}" alt="География" class="image-right" onclick="openFullscreen(this)" />
        </div>
    </div>
</div>


</div>
{% endblock %}
