{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Востребованность{% endblock %}
{% block content %}
<div class="graph-container">
    <div class="graph-block">
        <h1 style="color: crimson">Востребованность</h1>
        <img src="{% static 'main/img/relevance.jpeg' %}" alt="География" onclick="openFullscreen(this)" />
        <p>На этой странице сайта вы узнаете, как со временем появлялась всё большая и большая востребованность в Backend разработчиках</p>
        <p>
            <a href="#first-graph" style="color: crimson;">Динамика уровня зарплат по годам</a> |
            <a href="#second-graph" style="color: crimson;">Динамика количества вакансий по годам</a>
        </p>
    </div>


    <div id="first-graph" class="graph-block">
        <img src="{{ relevance.graph_left.url }}" alt="Диаграмма" onclick="openFullscreen(this)" />
        <div>
            {{ relevance.table|safe }}
        </div>
    </div>
    <div id="second-graph"class="graph-block">
        <img src="{{ relevance.graph_right.url }}" alt="График 2" onclick="openFullscreen(this)" />
        <div class="graph-table">
            {{ relevance.table2|safe }}
        </div>
    </div>
</div>
{% endblock %}
