{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/skills.css' %}">
    <script src="{% static 'main/js/main.js' %}" defer></script>
</head>
<body>
    <header>
        <button onclick="toggleSidebar()">☰</button>
        Backend разработчик
    </header>
    <aside>
        <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'statistics' %}">Общая статистика</a></li>
            <li><a href="{% url 'info' %}">Востребованность</a></li>
            <li><a href="{% url 'geography' %}">География</a></li>
            <li><a href="{% url 'skills' %}">Навыки</a></li>
            <li><a href="{% url 'last_vacs' %}">Последние вакансии</a></li>
        </ul>

    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Сапегин Михаил Евгеньевич РИ-230947</p>
    </footer>
</body>
</html>