{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Навыки{% endblock %}
{% block content %}
<div class="graph-container">
    <div class="graph-block">
        <h1 style="color: crimson">Навыки</h1>
        <img src="{% static 'main/img/skills.jpg' %}" alt="География" onclick="openFullscreen(this)" />
        <p>На этой странице сайта вы узнаете, какие навыки были наиболее популяными в каждом году</p>
    </div>
    {% for skill in skills %}
    <div class="graph-block">
        <img src="{{ skill.diagram.url }}" alt="Диаграмма {{ skill.name }}" onclick="openFullscreen(this)" >
        {{ skill.table|safe }}
    </div>
    {% endfor %}
</div>
{% endblock %}
