{% extends 'main/layout.html' %}
{% block title %}Навыки{% endblock %}
{% block content %}
    <h1>Навыки</h1>
    <img src="{{ skillspage.graph_2015.url }}">
    <img src="{{ skillspage.graph_2016.url }}">
    <img src="{{ skillspage.graph_2017.url }}">
    <img src="{{ skillspage.graph_2018.url }}">
    <img src="{{ skillspage.graph_2019.url }}">
    <img src="{{ skillspage.graph_2020.url }}">
    <img src="{{ skillspage.graph_2021.url }}">
    <img src="{{ skillspage.graph_2022.url }}">
    <img src="{{ skillspage.graph_2023.url }}">
    <img src="{{ skillspage.graph_2024.url }}">
{% endblock %}